#container
  #topnav{:class => "topnav"}
    %a{:href => "comment", :class =>"comment"}
    %span Comment
  %p #{id}
  %fieldset{:id => "comment_menu"}
    %form{:method => "post", :id => "#{id}", :action => "comment/#{id}"}
      %p
        %label{:for => "comment"} Comment
        %input{:id => "comment" , :name => "comment", :value =>"", :title =>"comment",  :type => "text"}
      %p{:class => "remember"}
        %input{:id => "#{id}", :value =>"comment", :type => "submit"}
