.homepage
<fb:dashboard>
<fb:header decoration\"add_border\" icon=\"false\">AriBooker</fb:header>
</fb:dashboard>
<fb:tabs>
   <fb:tab-item href="http://apps.facebook.com/aritbooker/status" title="myTab" selected='true'/>
</fb:tabs>
