%fb:dashboard
  %fb:header{:decoration =>'add_border', :icon =>'false'}AriTBooker
%fb:tabs
  %fb:tab-item{:href =>'http://apps.facebook.com/aritbooker/myphotos', :title =>'My Photos', :selected =>'true'}
  %fb:tab-item{:href => 'http://apps.facebook.com/aritbooker/recentalbums', :title =>'Recent Albums'}
