.homepage
<fb:dashboard>
<fb:header decoration='add_border' icon='false'>AriBooker</fb:header>
</fb:dashboard>
<fb:tabs>
  <fb:tab-item href='http://apps.facebook.com/aritbooker/myphotos' title='My Photos' selected='true'/>
  <fb:tab-item href='http://apps.facebook.com/aritbooker/recentalbums' title='Recent Albums' />
 </fb:tabs>
