%p
  = @user.email

- @fbs.me.feed.each do |entry|
  - entry.each do |m|
    - m.each do |w|
      %p #{m}
      %p "wibble"




%p access token is "#{@user.atoken}"

%a{:href => "#{@oauth_url}"}
  Link to Facebook
